header{
  color: rgb(0, 0, 0);
  text-shadow: beige;
  backdrop-filter: blur(5px);

}
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(27, 172, 2),white, rgb(255, 180, 42));
}
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,3fr));
  backdrop-filter: blur(25px);
  padding: 25px;
  justify-content: space-between;
  font-size: 20px;
}
.navbar a:visited {
  color: rgb(0, 17, 255);
}
.navbar a {
  color: rgb(55, 255, 0);
}
@media (max-width: 700px) {
  .navbar {
    font-size: 15px;
    padding: 10px;
  }
}
.flex {
  width: 1270px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}
.flex img:hover {
  display: block;
  transform: scale(2);
}
.flex img {
  transition: 1s;
}
@media only screen and (max-width: 320px) {

  body { 
     font-size: 2em; 
  }

}